# CMake/build
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/*.ninja
/.ninja_*
/compile_commands.json

# Repo artifacts
/artifacts/
tests/out/

# Python virtual environment
.venv/

# Binaries & artifacts
/**/*.o
/**/*.a
/**/*.so
/**/*.dylib
/**/*.bin
/**/*.dSYM/

# Misc
.DS_Store
.Trash/

/artifacts/
