name: App CI

on:
  push:
    paths:
      - 'apps/**'
  pull_request:
    paths:
      - 'apps/**'

jobs:
  build-test-bench:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      pull-requests: read
      checks: read
      statuses: read
      issues: read
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@d06b37b47cfd043ec794ffa3e40e0b6b5858a7ec # v1.14.2
      - name: Build app
        run: |
          mkdir -p build && cd build
          cmake ..
          make app_main test_app bench_app
      - name: Run test
        run: ./build/apps/test_app
      - name: Run benchmark
        run: ./build/apps/bench_app
