name: App CI

on:
  push:
    paths:
      - 'apps/**'
  pull_request:
    paths:
      - 'apps/**'

jobs:
  build-test-bench:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      pull-requests: read
      checks: read
      statuses: read
      issues: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v1
      - name: Build app
        run: |
          mkdir -p build && cd build
          cmake ..
          make app_main test_app bench_app
      - name: Run test
        run: ./build/apps/test_app
      - name: Run benchmark
        run: ./build/apps/bench_app
