name: Container Scan
on:
  push:
    branches: [main]
  pull_request:
jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # actions/checkout@v4
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - name: Trivy FS scan
        # aquasecurity/trivy-action@0.24.0
        uses: aquasecurity/trivy-action@6e7b7d1fd3e4fef0c5fa8cce1229c54b2c9bd0d8
        with:
          scan-type: fs
          ignore-unfixed: true
          format: table
          exit-code: '0'
