name: Secrets Scan
on:
  push:
    branches: [main]
  pull_request:
jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # actions/checkout@v4
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - name: Gitleaks
        # zricethezav/gitleaks-action@v2
        uses: zricethezav/gitleaks-action@dcedce43c6f43de0b836d1fe38946645c9c638dc
        with:
          args: detect --source . --no-git -v
